h1 {
  text-align: right;
  padding: 0px 50px 10px 50px;
  margin: 0px 0px 10px 0px;
}

ul {
  margin: 10px 30%;
}

/* .all {
  display: flex;
  margin: 10px 20%;
} */

.delete {
  width: 200px;
  margin-left: 60px;
}

.deletebtn {
  margin-left: 30px;
  display: inline-block;
  border-radius: 20%;
	width: 30px;
  height: 30px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #F1322C;
}

.deletebtn:hover {
  cursor: pointer;
  text-decoration: none;
 background:#AD2022;
}